p, a {
    color: white;
}
body {
    background-color: black;
    outline: 1px solid #ffffff;
    outline-offset: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.center {
    text-align: center;
}

a {
    text-decoration: none;
    transition: all;
}

a:hover {
    text-decoration: underline;
}
